/* CSS variables */
:root {
  /* Fonts */
  --font: 'Outfit', system-ui, sans-serif;
  --font-size-1: 1.125rem;
  --font-size-2: 1.25rem;
  --font-weight-1: 300;
  --font-weight-2: 400;
  --font-weight-3: 600;
  --font-lineheight-1: 1.5;
  --font-lineheight-2: 1.25;

  /* Colors */
  --surface-1: hsl(215, 51%, 70%);
  --surface-2: hsl(178, 100%, 50%);

  --accent-1: hsl(215, 32%, 27%);
  --accent-2: hsl(216, 50%, 16%);
  --accent-3: hsl(217, 54%, 11%);

  --white: hsl(0, 0%, 100%);
  --black-transparent: hsla(0, 0%, 0%, 0.05);

  /* Sizes */
  --size-0: -0.25rem;
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 1rem;
  --size-4: 1.25rem;
  --size-5: 1.5rem;

  /* Borders */
  --radius-1: 0.5rem;
  --radius-2: 1rem;
  --radius-round: 1e5px;

  /* Shadow */
  --shadow-1: 0 0 var(--size-3) var(--size-4) var(--black-transparent);

  /* Easing */
  --easing-1: 0.5s ease-in-out;

  /* Breakpoints */
  --breakpoint-1: 350px;
}

/* Basic styles */
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  block-size: 100%;
  font-family: var(--font);
  font-size: var(--font-size-1);
  line-height: var(--font-lineheight-1);
}

body {
  min-block-size: 100%;
  display: grid;
  place-content: center;
  background-color: var(--accent-3);
}

h1 {
  line-height: var(--font-lineheight-2);
  font-weight: var(--font-weight-3);
  color: var(--white);
}

img {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

a {
  cursor: pointer;
  touch-action: manipulation;
  margin: var(--size-0);
  padding: var(--size-1);
  text-decoration: inherit;
  text-underline-offset: 1px;
}

/* Card styles */
.card {
  max-inline-size: var(--breakpoint-1);
  padding: var(--size-4);
  background-color: var(--accent-2);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-1);
}

/* Card image */
.card-image {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: var(--radius-1);
}

.card-image::after {
  content: '';
  position: absolute;
  inset-inline-start: 0;
  inset-inline-end: 0;
  inset-block-start: 0;
  inset-block-end: 0;
  background: var(--surface-2);
  opacity: 0;
  transition: opacity var(--easing-1);
}

.card-image:hover::after {
  opacity: 0.5;
}

.card-image > svg {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.card-image > svg .eye {
  fill: transparent;
  transition: fill var(--easing-1);
}

.card-image:hover > svg .eye {
  fill: var(--white);
}

/* Card title */
.card-title {
  cursor: pointer;
  font-size: var(--font-size-2);
  transition: color var(--easing-1);
}

.card-title:hover {
  color: var(--surface-2);
}

/* Crad text */
.card-text {
  font-weight: var(--font-weight-1);
  color: var(--surface-1);
}

/* Card details */
.card-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-detail {
  display: flex;
  align-items: center;
  gap: var(--size-2);
}

.card-detail > strong {
  font-weight: var(--font-weight-2);
  color: var(--surface-2);
}

.card-detail > em {
  font-style: normal;
  font-weight: var(--font-weight-1);
  color: var(--surface-1);
}

/* Card footer */
footer {
  display: flex;
  align-items: center;
  gap: var(--size-3);
  margin-block-start: var(--font-size-1);
  border-block-start: 1px solid var(--accent-1);
  color: var(--surface-1);
}

footer > img {
  max-inline-size: calc(var(--size-5) + var(--size-2));
  border: 1px solid var(--white);
  border-radius: var(--radius-round);
}

/* Bugfix for Firefox */
footer p,
footer a {
  white-space: nowrap;
}

footer a {
  color: var(--white);
  transition: color var(--easing-1);
}

footer a:hover {
  color: var(--surface-2);
}
